
.vscode/c_cpp_properties.json
Lista 10/A.c
Lista 10/A.exe
Lista 10/B.c
Lista 10/B.exe
Lista 10/C.c
Lista 10/C.exe
Lista 10/D.c
Lista 10/D.exe
Lista 10/E.c
Lista 10/E.exe
Lista 10/F.c
Lista 10/F.exe
Lista 10/G.c
Lista 10/G.exe
